<h1>Log In</h1>

<%= form_with url: signin_path do |f| %>
  <%= f.label :name %>
  <%= f.collection_select :user_name, @users, :name, :name %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password, id: :user_password %>
  <br>
  <%= f.submit "Sign In" %>
<% end %>