<h1>Log In</h1>

<%= form_tag(signin_path) do %>
  <br>
  <%= label_tag "Your name" %>
  <%= collection_select(:user, :name, @users, :name, :name, {prompt: 'Please select your username from this dropdown'}) %>
  <br><br>
  <%= label_tag "Your password" %>
  <%= password_field_tag :password %>
  <br><br>
  <%= submit_tag "Sign In" %>
<% end %>
