<h2>Please Sign In</h2>
<%= form_tag('/signin') do %>
    <%= label_tag 'name' %><br>
    <%= select_tag 'user_name', options_from_collection_for_select(User.all, 'name', 'name') %><br><br>

    <%= label_tag 'password' %><br>
    <%= password_field_tag 'password' %><br><br>
    <%= submit_tag "Sign In" %>
<% end %>
