<%= form_for @user, url: signin_path, method: :post do |f| %>
	<div class="form-group">
		<%= f.label :name, 'Your name:' %>
		<%= f.select :name, options_from_collection_for_select(User.all, :name, :name) %>
	</div>
	<div class="form-group">
		<%= f.label :password, 'Your password:' %>
		<%= f.password_field :password, class: 'form-control' %>
	</div>
	<div class="actions">
		<%= f.submit 'Sign In'%>
	</div>
<% end %>
