<h1>Signin</h1>

<%#this needs to post to the corect place%>
<%= form_tag('/login') do %>

  <%= label_tag('user[name]', "Name") %>
  <%= text_field_tag('user[name]') %>
  <br>
  <%=select_tag "user_name", options_from_collection_for_select(User.all, "id", "name") %>
  <br>
  <%= label_tag('user[password]', "Password") %>
  <%= password_field_tag('password') %>
   <br>

  <%= submit_tag "Sign In" %>

<% end %>