<h1>Sign-In</h1>

<%= form_tag("/signin", :method => "post") do %>
    <%= label_tag "User Name" %>
    <%= select_tag "user_name", options_from_collection_for_select(User.all, "id", "name" ) %>
    <%= label_tag "Password" %>
    <%= text_field_tag (:password) %>
    <%=submit_tag "Sign In" %>
 <% end %>