<%=flash[:alert] if flash[:alert] %>

<%= form_for(@user, url: url_for(controller: 'sessions', action: 'create'), method: :post) do |f|%>
<%= f.label(:name) %>
<%= f.collection_select(:name, User.all, :name, :name, include_blank: true) %>
<br>
<%= f.label(:password) %>
<%= f.password_field(:password, id: "password") %>
<br>
<%= f.submit("Sign In") %>
<%end%>

<!-- select_tag "people", options_from_collection_for_select(@people, "id", "name")
# <select id="people" name="people"><option value="1">David</option></select> -->
