<h1>Log In!</h1>

<%= form_tag('/signin') do %>
  <%= label_tag :user_name %>
  <%= select_tag :user_name, options_from_collection_for_select(@users, "id", "name"), include_blank: true %><br>
  <%= label_tag :password %>
  <%= password_field_tag :password %><br>
  <%= submit_tag "Sign In" %>
<% end %>
