<%= form_with(model: attraction, local: true) do |form| %>
  

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :tickets %>
    <%= form.text_field :tickets %>
  </div>

  <div class="field">
    <%= form.label :nausea_rating %>
    <%= form.text_field :nausea_rating %>
  </div>

  <div class="field">
    <%= form.label :happiness_rating %>
    <%= form.text_field :happiness_rating %>
  </div>

  <div class="field">
    <%= form.label :min_height %>
    <%= form.text_field :min_height %>
  </div>

  <div class="actions">
    <%= form.submit "Update Attraction" %>
  </div>
<% end %>
