<h1> Signup</h1>

<%= form_for @user do |f| %>
 Name<br> 
 <%= f.text_field :name %><br>
 Height<br> 
 <%= f.text_field :height %><br>
 Happiness<br> 
 <%= f.text_field :happiness %><br>
 Tickets<br>
<%= f.text_field :tickets %><br>
 Nausea <br>
 <%= f.text_field :nausea %><br>
 <%=f.label :admin %>
 <%=f.check_box :admin, {}, true, false %><br><br>
 Password<br> 
 <%= f.password_field :password %><br>
 <%= f.submit "Create User" %>
 <% end %>