<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div id="user_admin_">
    <%= form.label :admin %>
    <input type= "checkbox" id="user_admin" name="user[admin]" value="true" >
  </div>

  <div class="field">
    <%= form.label :nausea %>
    <%= form.text_field :nausea %>
  </div>

  <div class="field">
    <%= form.label :happiness %>
    <%= form.text_field :happiness %>
  </div>

  <div class="field">
    <%= form.label :tickets %>
    <%= form.text_field :tickets %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.text_field :height %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
