<h1>Sign Up</h1>
<%= form_for @user do |f| %>
    Name: <%= f.text_field :name %><br />
    Password: <%= f.text_field :password %><br />
    Nausea: <%= f.text_field :nausea %><br />
    Happiness: <%= f.text_field :happiness %><br />
    Tickets: <%= f.text_field :tickets %><br />
    Height: <%= f.text_field :height %><br />
    ADMIN: <%= f.check_box :admin, :id => 'user_admin'%></br>
    <%= f.submit %>
<% end %>