<h1>Sign Up</h1>

<%= form_for @user, url: '/users' do |f| %>
  Username: <%= f.text_field :name %><br />
  Password: <%= f.password_field :password %><br />
  Password Confirmation: <%= f.password_field :password_confirmation %><br />
  Happiness: <%= f.number_field :happiness %><br />
  Nausea: <%= f.number_field :nausea %><br />
  Height: <%= f.number_field :height %><br />
  Tickets: <%= f.number_field :tickets %><br />
  Admin: <%= f.check_box :admin %><br />

  <%= f.submit "Create User" %>
<% end %>
