<h1> Hello </h1>

<%= form_for @user do |f| %>
    <%=f.label :name %>
    <input type="text" id="user[name]" name="user[name]">
    
    <br>
    <%=f.label :password %>
    <%=f.text_field :password %>
    <br>
    <%=f.label "How nauseas are you? 1-10" %>
    <%=f.text_field :nausea %>
    <br>
    <%=f.label "How happy are you? 1-10" %>
    <%=f.text_field :happiness %>
    <br>
    <%=f.label "How many tickets do you have?" %>
    <%=f.text_field :tickets %>
    <br>
    <%=f.label "How tall are you?" %>
    <%=f.text_field :height %>
    <%=f.label "Admin?" %>
    <%=f.check_box :admin %> 
    <br>
    
    <%=f.submit "Create User"%>
<% end %>



