<%= form_for(@user) do |f| %>
<p><%= f.label :name %></p>
<p><%= f.text_field :name %></p>
<p><%= f.label :height %></p>
<p><%= f.text_field :height %></p>
<p><%= f.label :happiness %></p>
<p><%= f.text_field :happiness %></p>
<p><%= f.label :nausea %></p>
<p><%= f.text_field :nausea %></p>
<p><%= f.label :tickets %></p>
<p><%= f.text_field :tickets %></p>
<p><%= f.label :admin %></p>
<p><%= f.check_box :admin %>
<p><%= f.label :password %></p>
<p><%= f.text_field :password %></p>
<p><%= f.submit %></p>
<% end %>