<h1>New HTML view for User</h1>
<% binding.pry %>

<%= form_for :user, url: '/users' do |f| %>
    Username: <%= f.text_field :name %>
    Password: <%= f.password_field :password %>
    Height: <%= f.text_field :height %>

    <%= f.submit "Submit" %>
<% end %>