<%= form_for @user do |f| %>
<label>Name: </label><br>
  <%= f.text_field :name %><br>
  <label>Password: </label><br>
  <%= f.password_field :password %><br>
  <label>Nausea: </label><br>
  <%= f.number_field :nausea %><br>
  <label>Happiness: </label><br>
  <%= f.number_field :happiness %><br>
  <label>Height: </label><br>
  <%= f.number_field :height %><br>
  <label>Tickets: </label><br>
  <%=f.number_field :tickets%>
  <label>Admin: </label><%= f.check_box :admin %><br>
  <%= f.submit "Create User" %>
<% end %>
