<h1>Sign Up</h1>
<%= form_for @user do |f| %>

<%= f.label :name %><br>
<%= f.text_field :name %><br>

<%= f.label :height %><br>
<%= f.text_field :height %><br>

<%= f.label :happiness %><br>
<%= f.text_field :happiness %><br>

<%= f.label :nausea %><br>
<%= f.text_field :nausea %><br>

<%= f.label :tickets %><br>
<%= f.text_field :tickets %><br>

<input type="checkbox" name='user[admin]' value="true" id="user_admin">Check box if you are admin</input><br>

<%= f.label :password %><br>
<%= f.text_field :password %><br> 

<%= f.submit %>

<% end %>

