<h1>New HTML view for User</h1>
<%= form_for @user, controller: 'sessions', action: 'create', method: 'post' do |f| %>
    Username: <%= f.text_field :name %>
    Password: <%= f.password_field :password %>
    Height: <%= f.text_field :height %>
    Happiness: <%= f.text_field :happiness %>
    Nausea: <%= f.text_field :nausea %>
    Tickets: <%= f.text_field :tickets %>
    <%= f.submit "Create User" %>
<% end %>

