<h1>Sign Up!</h1>
<%if flash[:errors]%>
  <%flash[:errors].each do |error_message| %>
      <p><%=error_message%></p>
      <br>
  <%end%>
<%end%>


<%= form_for(@user) do |f| %>
<%= f.label(:name) %>
<%= f.text_field(:name, placeholder: "Name Here") %>
<br>
<%= f.label(:height) %>
<%= f.number_field(:height, placeholder: "Height in Inches") %>
<br>
<%= f.label(:happiness) %>
<%= f.number_field(:happiness, placeholder: "Happiness Level") %>
<br>
<%= f.label(:nausea) %>
<%= f.number_field(:nausea, placeholder: "Nausea Level") %>
<br>
<%= f.label(:tickets) %>
<%= f.number_field(:tickets, placeholder: "Number of Tickets") %>
<br>
<%= f.label(:pasword) %>
<%= f.password_field(:password, placeholder: "Password") %>
<br>
<%= f.label(:admin) %>
<%= f.check_box(:admin) %>
<br>
<%= f.submit("Create User") %>
<%end%>
