<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>

<% if @user.admin %>
<h4>ADMIN</h4>
<% end %>

Name:<%= @user.name %>
Tickets: <%= @user.tickets %>
Mood:<%= @user.mood %>
Height:<%= @user.height %>

<%= link_to 'See attractions', attractions_path %>
