<% if @user.admin %>
    <h1><%= @user.name %></h1>
    <h2>ADMIN!</h2>
    <%= link_to "See attractions", attractions_path  %>
<% else %>
    <% if flash[:alert] %>
        <p><%= flash[:alert] %></p>
    <% end %>
    <h1><%= @user.name %></h1>
    <h3>Mood: <%= @user.mood %></h3>
    <h3>Tickets: <%= @user.tickets %></h3>
    <h3>Nausea: <%= @user.nausea %></h3>
    <h3>Height: <%= @user.height %></h3>
    <%= link_to "See attractions", attractions_path  %>
<% end %>


