<h1><%= @user.name %></h1>
<p>Mood</p>
<%= @user.mood %>
<p>happy</p>
<%= @user.happiness %>
<%= @user.nausea %>
<%= @user.tickets %>
<%= @user.height %>

<p><%= link_to "Log Out", logout_path %></p>
