<% if flash[:message] %>
    <p><%= flash[:message] %></p>
<% end %>


<div> 

    <% if @user.admin %>
        <p><strong>ADMIN</strong></p>
    <% end %>

    <h3>Name: <%= @user.name %></h3>
    <h3>Tickets: <%= @user.tickets %></h3>
    <h3>Mood: <%= @user.mood %></h3>
    <h3>Height: <%= @user.height %></h3>

</div>

<%= link_to 'See attractions', attractions_path %>

<a href="/signout">Log Out</a>