<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<h1>User Information</h1>
<h3><%= "ADMIN" unless !@user.admin %></h3>
<p><strong>Name: <%= @user.name %></p>
<p><strong>Tickets: <%= @user.tickets %></p>
<p><strong>Height (inches): <%= @user.height %></p>
<p><strong>Mood: <%= @user.mood %></p><br>

<p><%= link_to "See attractions", attractions_path %></p><br>


<p><strong>User ID: <%= session[:user_id] %></p>

<p><strong><%= link_to "Log Out", signout_path %></p>