<h1><%= current_user.name %></h1>
<ul>
  <% if !!current_user.mood %>
    <li>Mood: <%= current_user.mood %></li>
  <% end %>
  <li>Happiness: <%= current_user.happiness %></li>
  <li>Nausea: <%= current_user.nausea %></l1>
  <li>Tickets: <%= current_user.tickets %></li>
  <li>Height: <%= current_user.height %></li>
</ul>

<%= link_to "See attractions", attractions_path %>
