<%= @user.name %>
<p>Mood<%= @user.mood %></p>
<%= @user.tickets %>
<%= @user.height %>
<% if @user.admin == true %>
    <p>ADMIN</p>
<% end %>

<%= link_to 'Log Out', '/logout' %>

<%= link_to 'See attractions', '/attractions' %>


