<h1><%= "ADMIN" if @user.admin %></h1>
<h1><%= @user.name %></h1>
<% if @user.nausea && @user.happiness %>
    <p>Mood <%= @user.mood %></p>
<% end %>
<p>Tickets: <%= @user.tickets %></p>
<p>Height: <%= @user.height %></p>

<p><%= link_to "See attractions", attractions_path %></p>
<p><%= link_to "Log Out", logout_path %></p>
