<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>
<p>Name: </p><%= @user.name %>
<p>Mood: </p><%= @user.mood %></p>
<p>Tickets: </p><%= @user.tickets %></p>
<p>height: </p><%= @user.height %></p>
<% if @user.admin %>
<p>ADMIN</p>
<p>admin: </p><%= @user.admin %></p>
<% end %>
<%= link_to "See attractions", attractions_path %>

