<h1><%= @user.name %>: Profile</h1>
<ul>
  <li>Name: <%= @user.name %></li>
  <li>Height: <%= @user.height %></li>
  <li>Tickets: <%= @user.tickets %></li>
  <li>Mood: <%= @user.mood %></li>
  <% if @user.admin %>
  <li>ADMIN</li>
  <% end %>
</ul>
<p><%= link_to 'See attractions', attractions_path %></p>
<p><%= link_to 'Log Out', '/signout' %></p>