<h1><%= @user.name %></h1>

<ul>
  <li> Mood: <%= @user.mood %> </li>
  <li> Happiness level: <%= @user.happiness %> </li>
  <li> Number of tickets: <%= @user.tickets %> </li>
  <li> Height in inches: <%= @user.height %> </li>
</ul>
