<h2>My Profile</h2>

<br>

<strong>Name: </strong><%= @user.name %>
<strong>Tickets: </strong><%= @user.tickets %>
<strong>Mood: </strong><%= @user.happiness %>
<strong>Height: </strong><%= @user.height %> inches

<a><%= link_to "See attractions", attractions_path %></a>

<br><br>

<button><%= link_to "Log Out", logout_path %></button>
