<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<h1>Welcome <%= @user.name %>!</h1>


<% if is_admin? %>
  <h1>ADMIN</h1>
<% else %>
  <h2>Mood: <%= @user.mood %></h2>
  <h2>Height: <%= @user.height %></h2>
  <h3>Tickets: <%= @user.tickets %></h3>
  <h3>Happiness Level: <%= @user.happiness %></h3>
  <h3>Nausea Level: <%= @user.nausea %></h3>
<% end %>

<br>

<%= link_to "See attractions", attractions_path %>

<br>

<%= link_to "Log Out", "/logout" %>
