
<h3>Name: <%= @user.name %></h3>
<p>Tickets: <%= @user.tickets %></p>
<p>Height: <%= @user.height %> </p>
<p>Mood: <%= @user.mood %> 

<%= link_to "Log out", session_path(@user), :method => :delete %>

#see attractions link to /attractions