<h1><%= @user.name %></h1>
<p>Mood</p>
<%= @user.mood %>
<p>happy</p>
<%= @user.happiness %>
<%= @user.nausea %>
<%= @user.tickets %>
<%= @user.height %>


<<<<<<< HEAD
<p><%= link_to "Log Out", logout_path %></p>
=======
<p><%= link_to "Logout", logout_path %></p>
>>>>>>> 9b6cf04ba4175ed339645e7b96b1e9033817d4c4
