<% if flash[:message] %>
  <div class="center alert">
    <p><%= flash[:message] %></p>
  </div>
<% end %>

<h1><%= @user.name %></h1>
Mood: <%= @user.mood %><br>
Height: <%= @user.height %><br>
Tickets: <%= @user.tickets %><br>

<%= "ADMIN" if @user.admin %><br>

<h3><%= link_to "Edit", edit_user_path(@user) %></h3>
<h3><%= link_to "See attractions", attractions_path %></h3>

