<% if @user.admin %>
   <h4>ADMIN</h4>
   Name: <%= @user.name %>
<% else %>
   Name: <%= @user.name %>
   <br>
   Height: <%= @user.height %>
   <br>
   Mood: <%= @user.mood %>
   <br>
   Happiness: <%= @user.happiness %>
   <br>
   Nausea: <%= @user.nausea %>
   <br>
   Tickets: <%= @user.tickets %>
   <br>
<% end %>
<br>
<%= link_to("Log Out", {:controller => "sessions", :action => "destroy"}, :method => :delete) %>