<% if @user.admin == true %>
    ADMIN
<% end %>

<%= @user.name %>
<%= @user.tickets %>
<%= @user.nausea %>
<%= @user.happiness %>
<%= @user.height %>
Mood:
<% if @user.admin == false %>
    <%= @user.mood %>
<% end %>

<a href="<%= logout_path %>"/>Log Out</a>

<form method="get" action="/logout">
    <button type="submit">Log Out</button>
</form>