<h1>Welcome, <%= @user.name %>!</h1>
<p><%= "ADMIN" if @user.admin %></p>

<h3><%= @message %></h3>

<p>Mood: <%= @user.mood if @user.happiness && @user.nausea %></p>
<p>Tickets: <%= @user.tickets if @user.tickets %></p>
<p>Height: <%= @user.height if @user.height %></p>

<%= link_to "Log Out", logout_path %>

<%= link_to "See attractions", attractions_path %>