<h1>Welcome <%= @user.name %></h1>

<% if @user.admin %>
<p>ADMIN</p>
<% else %>
<p>Mood: <%= @user.mood %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Nausea: <%= @user.nausea %></p>
<p>Height: <%= @user.height %></p>
<% end %>
<%= link_to "See attractions", attractions_path %>