<% if @user.admin %>
<h1>ADMIN</h1>
<% end %>
<br><br>
Hello, <%= @user.name %><br><br>
<%= alert %><br>
<% if !@user.admin %>
Mood: <%= @user.mood %><br>
Tickets: <%= @user.tickets %><br>
Height: <%= @user.height %><br>
<% end %>
<%= link_to 'See attractions', attractions_path %>
<%= link_to 'Log Out', logout_path %>