<h1>New Attraction</h1>

<%= form_for @attraction do |f| %>
  Name<%= f.text_field :name %><br>
  Height Requirements (in inches) <%= f.number_field :min_height %><br>
  How fun is it? (1-5 scale)<%= f.number_field :happiness_rating %><br>
  How nausea-inducting is it? (1-5 scale)<%= f.number_field :nausea_rating %><br>
  How many tickets does it cost?<%= f.number_field :tickets %><br>

  <%= f.submit %>
<% end %>