<h1>Edit Attraction Form</h1>

<%= form_for(@attraction) do |f| %>
  Name: <%= f.text_field :name %><br />
  <br>
  Minimun Height Req: <%= f.number_field :min_height %><br />
  <br>
  Nausea Rating: <%= f.number_field :nausea_rating %><br />
  <br>
  Happiness Rating: <%= f.number_field :happiness_rating %><br />
  <br>
  Tickets Cost: <%= f.number_field :tickets %><br />
  <br>
  <%= f.submit "Update Attraction" %>
<% end %>
<% if current_user != nil %>
You are Log in as <%= link_to current_user.name, user_path(current_user.id) %><br>
<% end %>
<br>
<%= link_to "See attractions", "/attractions" %><br>
