<table>
    <thead>
        <tr>
            <th colspan = "3"></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><strong>Name</strong></td>
            <td><strong>Tickets</strong></td>
            <td><strong>Details</strong></td>
        </tr>

        <% @attractions.each do |attraction| %>
            <tr>
                <td><%= attraction.name %></td>
                <td><%= attraction.tickets %></td>
                <% if current_user.admin %>
                    <%= link_to "Show #{attraction.name}", attraction_path(attraction) %>
                <% else%>
                    <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

<% if current_user.admin %>
  <%= link_to "New Attraction", new_attraction_path %>
<% else %>
  
<% end %>






<% if current_user.admin %>
    

  
<% end %>

