<h1>Listing attractions</h1>
<table class="table">
<tr>
  <th>name</th>
  <th>tickets</th>
  <th>detail</th>
</tr>
<%@attractions.each do |a|%>
<tr>
  <td><%=a.name%></td>
  <td><%=a.tickets%></td>

  <%if current_user.admin%>
    <td><%=link_to "Show #{a.name}", attraction_path(a)%></td>
  <%else%>
    <td><%=link_to "Go on #{a.name}", a%></td>
  <%end%>
  
</tr>
<%end%>
</table>

<%=link_to 'New Attraction', new_attraction_path%>


