<ul><% @attractions.each_with_index do |attraction, idx| %>
   <li><%= "Attraction ##{idx+1}:" %></li>
   <li><%= "Attraction Name: #{attraction.name}"%></li>
   <li><%= "Attraction Tickets: #{attraction.tickets}"%></li>
   <li><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %>
   <br>
</ul><% end %>
<br>
<% if current_user.admin %>
   <%= link_to "New Attraction", new_attraction_path %>
<% end %>