<h1>New Attraction</h1>

<%= form_for(@attraction) do |t| %>
  <%= t.label :name %><br>
  <%= t.text_field :name %><br><br>

  <%= t.label "Height Requirement (in inches)" %><br>
  <%= t.number_field :min_height %><br><br>

  <%= t.label "How fun is it? (1-5 scale)" %><br>
  <%= t.number_field :happiness_rating %><br><br>

  <%= t.label "How nausea-inducing is it? (1-5 scale)" %><br>
  <%= t.number_field :nausea_rating %><br><br>

  <%= t.label "How many tickets does it cost?" %><br>
  <%= t.number_field :tickets %><br><br>

  <%= t.submit %>
<% end %>
