<h1>New Attraction</h1>
<%= form_for @attraction do |f| %>
Name
<br><%= f.text_field :name %>
<br>
Tickets
<br><%= f.text_field :tickets %>
<br>
Nausea rating
<br><%= f.text_field :nausea_rating %>
<br>
Happiness rating
<br><%= f.text_field :happiness_rating %>
<br>
Minimum height to ride
<br><%= f.text_field :min_height %>
<br>
<%= f.submit "Create Attraction" %>
<% end %>
