<h1>New Attraction</h1>

<%= form_for :attraction, :method => 'post', :url => '/attractions' do |f| %>

<%= f.label :name %><br>
<%= f.text_field :name %><br><br>

<%= f.label :min_height %><br>
<%= f.text_field :min_height %><br><br>

<%= f.label :happiness_rating %><br>
<%= f.text_field :happiness_rating %><br><br>

<%= f.label :nausea_rating %><br>
<%= f.text_field :nausea_rating %><br><br>

<%= f.label :tickets %><br>
<%= f.text_field :tickets %><br><br>

<%= f.submit "Create Attraction" %><br>

<% end %>