<label>Name:</label><br>
<p><%=@attraction.name%></p>
<label>Tickets:</label><br>
<p><%=@attraction.tickets%></p>
<label>Min. Height: </label><br>
<p><%=@attraction.min_height%></p>
<label>Happiness Rating: </label><br>
<p><%=@attraction.happiness_rating%></p>
<label>Nausea Rating: </label><br>
<p><%=@attraction.nausea_rating%></p>
<br>

<form action="<%= rides_url %>" method="post">
  <input type="hidden" value="<%= @attraction.id %>" name="ride[attraction_id]">
  <input type="submit" value="Go on this ride">
</form>
<br>
  <%if current_user.admin%>
    <%=link_to "Edit Attraction", edit_attraction_path%>
  <%end%>
