
<h1><%= @attraction.name %></h1>

  <label>Ticket Requirement</label><br>
  <%= @attraction.tickets %><br>
  <label>Height Requirement</label><br>
  <%= @attraction.min_height %><br>
  <label>Nausea Rating</label><br>
  <%= @attraction.nausea_rating %><br>
  <label>Happiness Rating</label><br>
  <%= @attraction.happiness_rating %><br>
  <% if current_user.admin %>
    <%= link_to 'Edit Attraction', edit_attraction_path(@attraction) %>
  <% else %>
<!-- ASK HOW THIS FUNCTION WORKS!!!! -->
      <%= form_for @ride do |f| %>
        <%= f.hidden_field :user_id %><br />
        <%= f.hidden_field :attraction_id %><br />
        <%= f.submit "Go on this ride", class:"btn btn-light" %>
      <% end %>
<% end %>

<%= link_to 'Back', attractions_path %>