<h1>Attraction Show Page </h1>

 <%#<%= button_to "Go on this ride", rides_path([:ride][:attraction_id] => params[:id], [:ride][:user_id] => current_user.id) method: :post%>

      <%= form_for @ride do |f| %>
        <%= f.hidden_field :user_id %><br />
        <%= f.hidden_field :attraction_id %><br />
        <%= f.submit "Go on this ride", class:"btn btn-light" %>
      <% end %>