Name: <%= @attraction.name %><br><br>
Total Number of Users: <%= @attraction.users.count %><br><br>
Ticket Requirement: <%= @attraction.tickets %><br><br>
Height Requirement: <%= @attraction.min_height %> inches<br><br>
Nausea Rating: <%= @attraction.nausea_rating %> <br><br>
Happiness Rating: <%= @attraction.happiness_rating %> <br><br>



<% if current_user.admin %>
    <%= link_to "Edit Attraction", edit_attraction_path(@attraction) %><br>
  <% else %>
    <button>
      <%= link_to "Go on this ride", {:controller => "rides", :action => "create", :method => "post", :attraction_id => @attraction.id} %><br>
    </button>
    <br>
<% end %>
