<% if @user.admin %>
    <%= @attraction.name %>
    <a href="/attractions/<%= @attraction.id %>/edit">Edit Attraction</a>
<% else %>
    <%= form_for @ride do |f| %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :attraction_id %>
        <%= f.submit "Go on this ride" %>
    <% end %>
<% end %>