<h3><%= @attraction.name %></h3>
<p>Total number of users: <%= @attraction.users.count %></p>
<p>Ticket Requirement: <%= @attraction.tickets %></p>
<p>Height Requirement: <%= @attraction.min_height %></p>
<p>Nausea Rating: <%= @attraction.nausea_rating %></p>
<p>Happiness Rating: <%= @attraction.happiness_rating %></p>

<% if @user.admin == true %>
    <%= link_to "Edit Attraction", edit_attraction_path%>
    <% else %>
    <%= link_to "Go on this ride", user_path(@user.id) %>

    <%end%>

    #how to get this @attraction to carry into show