<h1> <%= @attraction.name %></h2>
<p>Tickets: <%= @attraction.tickets %></p>
<p>Nausea Rating: <%= @attraction.nausea_rating %></p>
<p>Happiness Rating: <%= @attraction.happiness_rating %></p>
<p>Minimum Height: <%= @attraction.min_height %></p>

<% if current_user?.admin %>
<%=link_to "Edit Attraction", edit_attraction_path(@attraction) %><br><br>
<% else %>
<%=button_to "Go on this ride", rides_path, params: {user_id: session[:user_id], attraction_id: @attraction.id}, method: "create" %>
<% end %>