  
<h1><%= @attraction.name %></h1>
Tickets Cost: <%= @attraction.tickets %><br />
Nausea Rating: <%= @attraction.nausea_rating %><br />
Happiness Rating: <%= @attraction.happiness_rating %><br />
Min. Height: <%= @attraction.min_height %><br />
<br />

<% binding.pry %>

<button><%= link_to "Go on this ride", user_path(@ride.user_id) %></button>